{% extends "layout/main.html" %}

{% block title %}График {{ symbol }}{% endblock %}

{% block content %} 

<script type="text/javascript">
	document.getElementById('menu-сharts').classList.add('menu-href-active');
</script>
<div class="сharts">
  <!-- TradingView Widget BEGIN -->
<div class="tradingview-widget-container">
  <div id="tradingview_a500e"></div>
  <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>
  <script type="text/javascript">
  new TradingView.widget(
  {
  "width": 1200,
  "height": 650,
  "symbol": "{{ symbol }}",
  "interval": "D",
  "timezone": "Etc/UTC",
  "theme": "dark",
  "style": "3",
  "locale": "ru",
  "toolbar_bg": "#f1f3f6",
  "enable_publishing": false,
  "withdateranges": true,
  "hide_side_toolbar": false,
  "save_image": false,
  "show_popup_button": true,
  "popup_width": "1000",
  "popup_height": "650",
  "container_id": "tradingview_a500e"
}
  );
  </script>
</div>
<!-- TradingView Widget END -->
</div>

{% endblock %} 